<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <base target="_blank">
</head>
<body>
    <header class="blog-header">
        <a class="site-title" rel="author" href="/" target="_self"><span style="color:rgb(30,30,25);">Edge</span><span style="color:rgb(20,160,25);">Runners</span></a>
    </header>

    <main aria-label="Content">{{ content }}</main>
</body>
</html>
